/* === Global === */
html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #0078d4;
}

/* === HERO === */
#hero {
  padding: 0 32px 32px;
  text-align: center;
  color: white;
  background: #0078d4;
}

#hero img {
  /* padding: 50px 0 0 0; */
  width: 60px;
  margin-bottom: 12px;
  /* animation: logo-spin infinite 10s linear; */
}

#hero h1 {
  font-size: 28px;
  font-weight: 600;
}

#hero p {
  margin-top: 4px;
  font-weight: lighter;
}

#hero #countdown {
  padding: 16px 0; 
  margin: 0;
  text-align: right;
  font-size: 11px;
  background-color: #0078d4;
  font-weight: lighter
}

#hero a {
  color: white;
}

/* === Content === */

.content {
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 30px;
  display: flex;
  align-content: center;
}

.content2 {
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  align-content: center;
}

#content h2 {
  font-size: 22px;
  text-align: center;
}

.column {
  margin: 0 10px;
  width: calc(100% / 3);
  padding: 30px 24px;
  display: flex;
  word-break: break-word;
  text-align: left;
}

@media (max-width: 1110px) {
  .column {
    width: 100%;
    padding: 20px 24px;
  }

  .content {
    display: block;
  }

  .content2 {
    display: inline-block;
    padding-top: 0px;
    margin-top: 0px;
  }
}

.empty {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* .column:first-child {
  margin-left: 0;
}

.column:last-child {
  margin-right: 0;
} */

.column .icon {
  float: left;
  margin-right: 12px;
  flex-direction: row;
  width: 10px;
  padding-right: 12px; 
}

.column .icon img {
  width: 20px;
} 

.column p {
  margin: 0px;
}

.column .title {
  font-size: 20px;
  font-weight: 600;
}

.column .description,
.column .link {
  font-size: 12px;
  margin-top:10px;
}

.column .description {
  margin: 2px 0 8px;
  color: #666;
}

#creds {
  overflow-y: hidden;
  overflow-x: scroll;
}

/* === Responsive === */

@media only screen and (max-width: 768px) {
  #content,
  .column {
    flex-direction: column;
  }
  #content .column {
    width: 100%;
    margin: 0;
    padding: 32px 0;
  }
  .column img {
    width: 60px;
  }
  #content .column:first-child {
    padding-top: 0;
  }
  .column .title {
    margin-top: 12px;
  }
}

/* === Animation === */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.continue-section {
  width: 530px;
  display: flex;
}

.continue-column {
  margin-left: 24px;
}

.continue-section .title {
  font-size: 16px;
  font-weight: 600;
}

.continue-section .description,
.continue-section .link {
  font-size: 12px;
}

.continue-section .description {
  margin: 2px 0 8px;
  color: #666;
}

.numberCircle {
  min-width: 32px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 5px;
  border: 2px solid #0078d4;
  color: #0078d4;
  text-align: center;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 200%;
  margin-left: 5px;
  margin-right: 15px; 
}

.numberCircle-Light {
  min-width: 32px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 5px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 200%;
  margin-left: 5px;
  margin-right: 15px; 
}


hr {
  width: 50%;
  margin: 0 auto;
}

#hero h2 {
  font-weight: normal;
}

code {
  color: white;
  padding: 8px;
}

.codeblock {
  background-color: black;
  width: 350px;
  padding: 4px 0px;
}

.content-wrapper {
  background-color: #fafafa;
}

.content-wrapper-light {
  background-color: white
}

.continue-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #0078d4;
  border-color: #0078d4;
  margin-top: 55px ;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  width: 275px;
  text-align: center;
}

.feedback-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  color:#0078d4;
  background-color: #fff;
  border-color: #0078d4;
  margin-top: 55px ;
  margin-left:10px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  width: 275px;
  text-align: center;
}


.centered {
  margin: 0 auto;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
