html,
body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  height: 100%;
  margin: 0;
}

#hero {
  text-align: center;
  background: #4d76b2;
  padding: 20px;
  color: white;
}

#hero h1 {
  font-size: 3em;
}

#body {
  margin-top: 20px;
}

#body h3 {
  display: inline;
}

#logo {
  margin-bottom: -12px;
  margin-right: 10px;
}
